<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<head>
	<meta charset="ISO-8859-1">

	<div>
		<title>Revature ERS</title>
		<h1 style="text-align:center" name="header">Welcome to the Revature Employee Reimbursement System</h1>
		<br>
		<hr>
</head>

<body>
	<br>
	<br>
	<form style="text-align:center">
		<label for="username"></label>
		<input id="username" name="username" type="text" placeholder="Username">
		<br>
		<br>
		<label for="password"></label>
		<input id="Password" name="Password" type="password" placeholder="Password">
		<br>
		<br>
		<label for="login"></label>
		<a th:href="@{/viewReimbursement}">
			<input id="login" type="submit" value="Login">
		</a>
		
	</form>
	<br>
	<form style="text-align:center">
		<a th:href="@{managerLogin}">
			<h4>Manager Login</h4>
		</a>
	</form>
	</div>
</body>

</html>