<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<head>
<meta charset="ISO-8859-1">
<title>Revature ERS</title>
<h1>Revature Manager Portal</h1>
</head>
<br>
<hr>
<br>
	<body style="text-align:center">
			
			<form action="viewReimbursement" method="get">
			<label for="username"></label>
			<input id="username" name="username" type="text" placeholder="Username">
			<br>
			<br>
			<label for="password"></label>
			<input id="Password" name="Password" type="password" placeholder="Password" >
			<br>
			<br>
			<a th:href="@{viewReimbursement}">
			<button class="w3-button w3-hover-red">Login</button>
			</a>
			</form>

				<br>
				<label for="logout"></label>
				<a th:href="@{/}">
				<button class="w3-button w3-hover-red">Return to HomePage</button>
				</a>
			</form>
	</body>
</html>